* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

NAV {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(1, 1, 46);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li A {
    text-decoration: none;
    color: white;
}

nav ul li A:hover {
    color: red;
    font-size: 1.6rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 64px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
    margin: 30px 0;
}

.rightsection img {
    width: 100%;
    margin: 80px 0;
}

.backcolor {
    color: red;
}

.backcolor2 {
    color: blueviolet;
}

#element {
    color: green;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;

}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;





}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0px 100px;

}
.vertical-title{
    position: relative;
    top: 95px;
    width:90px;
}
.vertical-text{
    position: relative;
    top: 95px;
    width:90px;
}
.vertical-DESC{
    position: relative;
    top: 95px;
    width:90px;
}
.vertical-DESD{
    position: relative;
    top: 100px;
    width: 95px 90px;
}
.text-gray{
    color: gray;
}
.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}
